<div class="body">  
  <nav class="navbar navbar-expand navbar-dark" style="background-color: grey;">
  
    <ul class="nav nav-tabs">
      <a class="navbar-brand" routerLink="/mainmenu"> Cat Music </a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/form">Sign Up</a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link" routerLink="/session">Events</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" routerLink="/social">Social Network</a>
        </li>
        
      </ul>
    </div>
    </ul>
  </nav>
</div>
