<app-nav-top></app-nav-top>

<mat-card>
    <table mat-table class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell> Top </th>
          <td mat-cell> 1 </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell> Artist </th>
          <td mat-cell>Apashe</td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell>Song</th>
          <td mat-cell> Lord & Master</td>
        </ng-container>
      
    </table>     
</mat-card>
