.logoLogin{
    margin-top: 50px;
}

.titulo{
    color: white;
}

.button-google{
    margin-top: 50px;
}

.year{
    color: white;
    margin-top: 250px;
}

.button-MainMenu{
    margin-top: 10px;
}