<app-nav-top></app-nav-top>
<div class="text-center">
    <div class="logo">
      <img src="https://t0.rbxcdn.com/06f7841eb27859eca513f0763be88415" alt="" width="10%" height="10%" title="Cat Music">
    </div>
    <h3 class="titulo">CAT MUSIC</h3>
</div>

<form [formGroup]="signUpFormGroup">
    <div class="padre">

        <fieldset class="hijo">
            <legend class="encabezado">New User</legend>

            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <label class="labels"> Username </label>
                <input type="text" class="am-form-field" formControlName="username" required>
            </div>

            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <label class="labels"> Email </label>
                <input type="text" class="am-form-field" formControlName="email" required>
            </div>

            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <label class="labels"> Password </label>
                <input type="password" class="am-form-field" formControlName="password" required>
            </div>
        </fieldset>

    </div>
</form>
  
<div class="text-center">
    <div class="button-SignUp">
      <button type="button" class="btn btn-light" (click)="signUp()">Sign Up</button>   
    </div>  
</div>

<div class="text-center">
    <p class="year">© 2020</p>
</div>