<div class="text-center">
    <div class="logo">
      <img src="https://t0.rbxcdn.com/06f7841eb27859eca513f0763be88415" alt="" width="10%" height="10%" title="Cat Music">
    </div>
    <h3 class="titulo">CAT MUSIC</h3>
</div>

<div class="padre">

    <fieldset class="hijo">
        <legend class="encabezado">Personal Information</legend>

            <div class="am-input-group"> 
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>               
                <label class="labels"> First name </label>
                <input type="text" class="am-form-field" required>
            </div>

            <br/>

            <div class="am-input-group"> 
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <label class="labels"> Last name </label>
                <input type="text" class="am-form-field" required>
            </div>

            <br/>

            <div class="am-input-group"> 
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <label class="labels"> Address </label>
                <input type="text" class="am-form-field" required>
            </div>

            <br/>

            <div class="am-input-group"> 
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <label class="labels"> Email </label>
                <input type="email" class="am-form-field" required>
            </div>
    </fieldset>


    <fieldset class="hijo-2">
        <legend class="encabezado">User</legend>

        <div class="am-input-group">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <label class="labels"> Username </label>
            <input type="text" class="am-form-field" required>
        </div>

        <br/>
        
        <div class="am-input-group">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <label class="labels"> Password </label>
            <input type="password" class="am-form-field" required>
        </div>
    </fieldset>

</div>
  

<div class="text-center">
    <div class="button-SignUp">
      <button type="button" class="btn btn-light">Sign Up</button>   
    </div>  
</div>

