.botonPrincipal{
    text-align: center;
    size: 30px;
}


.body{
    text-align: center;
    margin-top: 10%;
    font-size: medium;
}

.tabla{
    width: 50%; 
    height: 50%; 
    margin-left: auto; 
    margin-right: auto;
}