<div class="body"> 
    <div class="tabla">
        <table class="table">
            <!--La cabecera, que nunca cambiará-->
            <thead class="thead-dark"> 
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> NOMBRE </th>
                    <th scope="col"> PRECIO </th>
                </tr>
            </thead> 
                <!--Este es el cuerpo de todos los datos-->
            <tbody>
                <tr *ngFor="let product of products">
                    <th scope="row"> {{product.id}} </th>
                    <td> {{product.name}} </td>
                    <td> {{product.price}} </td>
                </tr>    
            </tbody>
        </table>
    </div>
   
</div>